:root {
  --side: 200px;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  padding: 0;
  margin: 0;
}

.frame {
  width: calc(var(--side) * 3);
  height: calc(var(--side) * 3);
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 100%;
  height: 100%;
  background-color: rgba(42, 36, 206, 0.292);
  display: grid;
  grid-template-columns: repeat(3, var(--side));
  grid-template-rows: repeat(3, var(--side));
}

.button {
  width: calc(var(--side));
  height: calc(var(--side)/4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  height: var(--side);
  width: var(--side);
  border: 1px solid black;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 30px;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

.square:hover {
  background-color: rgba(139, 17, 196, 0.796);
}

.square:active {
  background-color: rgba(38, 17, 196, 0.796);
}
